doctype html
html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title A Simple Static Generator
		link(rel="stylesheet" href='css/main.css')
	body
		section
			aside Sidebar
			article Content

	script(src='js/main.js')
