block mainVars
    - Navigation = [{title:'HOME',link:'index'},{title:'ABOUT US',link:'about-us'},{title:'CLIENTS',link:'clients'}, {title:'CONTACT',link:'contact'}]

doctype html
html
    include inc/head
    body
        include inc/header
        block content
        include inc/footer
        include inc/scripts